/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: white;
  border-bottom: 1px solid $border-color;
  height: $masthead-height;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

// .language-switcher a {
//   display: inline;
//   margin: 0 4px;
//   white-space: nowrap;
//   font-size: 0.9em;
// }

// .language-switcher {
//   padding-left: 1em; // space it from previous items
//   font-size: 0.9em;

//   a {
//     color: inherit;
//     opacity: 0.8;
//     transition: opacity 0.2s;

//     &:hover {
//       opacity: 1;
//     }
//   }
// }

// .language-switcher {
//   padding-left: 1em;
//   font-size: 0.8em;

//   a {
//     color: #6699cc; // pastel blue
//     text-decoration: none;
//     margin: 0 4px;
//     opacity: 0.85;
//     transition: opacity 0.2s ease, color 0.2s ease;

//     &:hover {
//       opacity: 1;
//       color: #336699; // slightly deeper shade on hover
//     }
//   }

//   span {
//     color: #cccccc; // soft gray divider
//     margin: 0 2px;
//   }
// }


.language-switcher {
  a, span {
    display: inline !important;
    margin: 0 4px;
    white-space: nowrap;
  }
}


.language-switcher2 {
  a, span {
    display: inline !important;
    margin: 0 4px;
    white-space: nowrap;
  }
}


.language-switcher3 {
  a, span {
    display: inline !important;
    margin: 0 4px;
    white-space: nowrap;
  }
}
